extends layout

block content 
    h1 Edit Items
    form(action="/itemsRoutes/update/"+item._id, method="post") 
        .form-group 
            label(for="name") Item Name
            input(type="text", class="form-control", name="Name", value=item.Name) 
        .form-group 
            label(for="shape") Shape
            input(type="text", class="form-control", name="Shape", value=item.Shape) 
        .form-group 
            label(for="rout") Rout
            input(type="text", class="form-control", name="Rout", value=item.Rout) 
        .form-group 
            label(for="price") Price
            input(type="text", class="form-control", name="Price", value=item.Price) 
        
        input(type="submit", class="btn btn-success"  ) 